body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 90%;
  max-width: 500px;
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
}

textarea {
  width: 100%;
  height: 120px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 12px;
  background: #22c55e;
  border: none;
  font-weight: bold;
  border-radius: 8px;
}

pre {
  margin-top: 15px;
  white-space: pre-wrap;
  }
